---
import banner from "../../assets/banner_mountain.png";
---

<div class="game_card">
    <div>
        <div class="txt_title game_text">Mountain</div>

        <div class="game_description txt_normal game_text">
            Challenge the Mountain(山) and yourself to reach the top. Remember:
            "Fall seven times and get up eight times."
            <br />
            <br />
            A game inspired by "Golfing Goverit with Alva Majo" which in turn was
            inspired by the masterpiece "Getting Goverit with Bennett Fody".
            <br />
            <div>
                <br />
                Steam page: Comming soon
            </div>
        </div>
    </div>

    <img class="game_img" src={banner.src} alt="" />
</div>

<style is:global>
    .game_title {
        text-align: center;
    }

    .game_card {
        width: auto;
        z-index: 100;
        overflow: hidden;
        background-color: #161c21;
        border-radius: 10px;
        display: flex;
        height: 100%;
    }

    .game_text {
        padding: 30px;
    }

    .game_img {
        object-fit: cover;
        width: 40%;
        height: 108%;
    }

    @media screen and (max-width: 800px) {
        .game_card {
            flex-direction: column-reverse;
            justify-content: flex-end;
        }
        .game_img {
            height: 30%;
            width: 100%;
        }
    }
</style>
