---
import About from "../components/About.astro";
import Games from "../components/games/Games.astro";
import Team from "../components/Team.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Welcome />
	<div class="section_container">
		<div class="section_wrapper">
			<Games />
			<About />
			<Team />
		</div>
	</div>
</Layout>

<style>
	.section_container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		color: white;
		min-height: 100vh;
		padding-top: 250px;
		background-color: rgba(4, 41, 60, 0.962);
		background-color: rgba(39, 55, 77, 0.95);
		z-index: 10;
		padding-bottom: 100px;
	}
	.section_wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 100px;
	}
</style>
