

<div>
    <div class="title">
        - sobre nostros -
    </div>

    <div>


        BILLREX es un pequeñisomo studio indie de videjuegos fundado en 2024 por Ivan Scaglioni con la intención de explorar el mundo del desarrollo de videojuegos, sus infinatas posibilidades y complejidad. Con projectos e ideas propias
    </div>
    <div class="title">
        - Team -
    </div>
    <div class="team_container">

        <div class="team">
            <div class="team_photo">

            </div>
            <div class="team_name">
                Iván Scaglioni

            </div>
            <div class="team_info">
                Fundador / game development
            </div>
        </div>
        <div class="team">
            <div class="team_photo">

            </div>
            <div class="team_name">
                Michael Fenandez

            </div>
            <div class="team_info">
                colaborador/ graphic desing
            </div>
        </div>
    </div>


</div>

<style>
    .team_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;

    }

    .team{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .team_photo{
        border-radius: 50%;
        border: solid greenyellow;
        height: 200px;
        width: 200px;
        
    }
</style>