<div id="footer">
    <div>X</div>
    <div>Steam</div>
</div>

<style>
    #footer {
        min-height: 400px;
        background-color: black;
        position: relative;
        z-index: 20;
        display: flex;
        gap: 50px;
        justify-content: center;
        padding-top: 100px;
    }
</style>
