---
import Footer from "./Footer.astro"


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Amarante&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
	<Footer/>
</html>

<style is:global>
	html,
	body {
		color: white;
		font-size: 1.2rem;
		background-color: #27374D;
		margin: 0;
		width: 100%;
		min-height: 100%;
		overflow-x: hidden;
		overflow-y: visible;
	}
	.title{
		font-size: 5rem;
		color: #DDE6ED;
        color: rgb(208, 255, 137);
	}
</style>
